<div class="signup-container">
    <mat-card>
      <h2>Sign Up</h2>
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
          <mat-label>Full Name</mat-label>
          <input matInput formControlName="fullName" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Username</mat-label>
          <input matInput formControlName="username" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Confirm Password</mat-label>
          <input matInput type="password" formControlName="confirmPassword" />
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Sign Up</button>
      </form>
      <mat-error *ngIf="signupForm.hasError('mismatch')">
        Passwords do not match.
      </mat-error>
      
      <div class="login-redirect">
        <p>Already have an account?</p>
        <a mat-raised-button color="accent" routerLink="/login">Login</a>
      </div>
    </mat-card>
  </div>
  
